/* CSS for departments here */

li { text-align: left;}

.departmentList {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tableContainer {
  margin-top: .7rem;
  min-height: 80vh;
}

.departmentList li {
  margin: 6px;
}
