.departmentForm {
  position:absolute;
  align-self: center;
  right: 15%;
  top:5%;
}

form {
  display: flex;
  flex-direction: column;
}

.formInput {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.formInput input {
  margin-top: .5rem;
  margin-bottom: .5rem;
  height: 1.5rem;
  padding: .5rem;
}

.formInput textarea {
  margin-bottom: .5rem;
  height: 10rem;
  padding: .5rem;
}

form button {
  margin: 0 auto;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.states {
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
}
