.newCourse {
  margin: 0 2rem;
}

form {
  padding: .5rem;
}

form input, select {
  margin: .2rem 0;
  height: 2rem;
  padding: 5px;
}

form button {
  margin-top: 1rem;
}

.states ul {
  text-align: center;
  width: 70%;
  margin: auto;
}

.states h4 {
  margin-bottom: 2rem;
}

.states p {
  text-align: left;
  margin-left: 2.5rem;
}
